.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    /* background-color: green; */
    height: 100vh;
    z-index: 10;
}

.zIndex20 {
    z-index: 20;
}

.dropdownMenu {
    position: absolute;
    top: 0px;
    left: 0;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    transition: all 0.5s ease-out;

}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
}

.visible {
    opacity: 1;
    transform: translateX(0);
}

.dropdownMenu ul {
    list-style: none;
    margin: 0;
    margin-top: 100px;
    padding: 0;
}

.navLink {
    text-decoration: none;
    color: whitesmoke; 
}

.navLink:hover {
    color: burlywood;
}

.li {
    padding: 10px 0px;
}

.selected {
    color: burlywood;
}