
.videosAndImagesContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: black;
    width: 100%;
}

.button {
    background-color: #e91e63; /* Deep pink */
    color: white; /* White text */
    padding: 8px 16px; /* Padding to make the button larger */
    border: none; /* No border */
    border-radius: 25px; /* Rounded corners */
    font-size: 14px; /* Font size */
    cursor: pointer; /* Pointer on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effects */
}

/* Hover and focus effects */
.button:hover, .button:focus {
    background-color: #d81b60; /* Slightly darker pink on hover */
    transform: translateY(-2px); /* Move the button slightly upwards on hover */
    outline: none; /* Remove default focus outline */
}

/* Active state */
.button:active {
    background-color: #c2185b; /* Even darker pink when clicked */
    transform: translateY(0); /* Reset transform when clicked */
}

.p {
    margin: 10px 0;
    transition: max-height 0.3s ease;
}

@media only screen and (max-width:940px) {
    .videosAndImagesContainer {
        align-items: center;
        flex-direction: column;
    }
}