.videoContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 20px 20px;
    position: relative;
    width: 420px;
    height: 340px;
    height: auto;
    /* flex: 1; */
    background-color: rgba(255, 255, 255, 0.2);

}

