body {
  margin: 0;  
}

.slider-container {
  width: 100%;
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
}

.image-wrapper {
  position: relative; /* Required for fill */
  width: 100%;
  height: calc(100vh - 300px) /* Adjust height as needed */
}
/* :root {
  margin: 0;
} */