.swiper-pagination .custom-thumbnail {
    width: 60px;
    /* Thumbnail width */
    height: 60px;
    /* Thumbnail height */
    object-fit: cover;
    margin: 0 8px;
    /* Space between thumbnails */
    border-radius: 0px;
    /* Making it square */
    cursor: pointer;
}

.swiper-pagination-bullet-active .custom-thumbnail {
    border: 3px solid #007aff;
    /* Highlight active thumbnail */
}

.mySwiper .custom-slide {
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
}

.mySwiper .swiper-slide-prev, .mySwiper .swiper-slide-next {
    transform: scale(0.8);
    opacity: 0.5;
}

.image-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


:fullscreen .image-container {
    width: 100vw;
    height: 100vh;
}